// NIB
// @import 'nib'
// @import 'nib/gradients'
// @import 'nib/buttons'

// FLUIDITY
// http://www.fluiditycss.com/
// @import "fluidity"
// For Non-Semantic Grid classes use.
// @import "fluidity-non-semantic"

// JEET
@import 'jeet'
// col()
// span()
// shift()
// unshift()
// align()
// stack()
// unstack()
// cf() - clearfix

// DEV mode
// edit()

nav#top-menu
  #main-menu
    col(3/4)
  #session
    col(1/4)

section#main-content
  center()
