div(class='ui $data.ui search')
  input.prompt(type='text', placeholder='${data.placeholder}')
  if(test='$data.icon')
    ui-icon(attrs='$data.icon')
  if(test='$data.results')
    .results
      $data.results
