.item $data.label
  if(test-'$data.img')
    img.ui.avatar.image(src='${data.img || data.img.src}')
  if(test='$data.icon')
    ui-icon(icon='$data.icon')
  if(test='$data.content')
  .content
    if(test='$data.link')
      a(href='$data.link.url') ${data.link.label || data.link.url}
    else
      if(test='$data.header')
        a.header $data.header
      if(test='$data.desc')
        $data.desc
      if(test='$data.content')
        $data.content
