if(test='$data.lv == 1')
  h1(class='ui header') $data.label
else-if(test='$data.lv == 2')
  h2(class='ui header') $data.label
else(test='$data.lv == 3')
  h3(class='ui header') $data.label
else
  h4(class='ui header') $data.label
