<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="semantic/dist/semantic.min.js">   </script>
    <title>try2 Title</title>
    <lasso-head></lasso-head>
  </head>
  <body>
    <h1>try2</h1>
    <lasso-body></lasso-body>
    <browser-refresh enabled="true"></browser-refresh>
  </body>
</html>
