doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="semantic.min.css")
    script(src="semantic/dist/semantic.min.js")    
    block title
      title Default title
    lasso-head
  body
    block content
      h1 Default page
    lasso-body
    browser-refresh(enabled="true")
