.ui.inverted.large.top.fixed.hidden.menu
  main-menu(align="left" active="$out.global.menus.top.active")
  session-menu(align="right" login="$out.global.login.label" register="$out.global.registration.label}")
