div(class='ui $data.ui statistic')
  .value
    if(test='$data.img')
      ui-image(attrs='$data.img')
    if(test='$data.icon')
      ui-icon(attrs='$data.icon')
    $data.value
  .label
    $data.label
