div(class='$data.ui ui label')
  if(test='$data.icon')
    ui-icon(attrs='$data.icon') 
  if(test='$data.image')
    ui-image(attrs='$data.image') 
  $data.label
  if(test='$data.detail')
    div(class='detail') $data.detail
